node_modules
coverage
.next
/logs

#env
.env
.env.local
.env.local.backup
.env.minikube

docker-compose.infrastructure.backup


# Service-specific environment files (for production, keep .env.example)
services/*/.env
services/*/.env.local
services/*/.env.production
services/*/.env.development

.DS_Store

# K8s Secrets
k8s/secrets/auction-secrets.yaml
k8s/secrets/mysql-secrets.yaml